[submodule "setuptools"]
	path = setuptools
	url = git@github.com:wheel-next/setuptools.git
[submodule "pip"]
	path = pip
	url = git@github.com:wheel-next/pip.git
[submodule "mockhouse"]
	path = mockhouse
	url = git@github.com:wheel-next/mockhouse.git
