[submodule "setuptools"]
	path = setuptools
	url = git@github.com:wheelnext/setuptools.git
[submodule "pip"]
	path = pip
	url = git@github.com:wheelnext/pip.git
[submodule "mockhouse"]
	path = mockhouse
	url = git@github.com:wheelnext/mockhouse.git
